.identify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #1475cf;
  height: 250px;
  width: 90%;
  cursor: pointer;
  border-radius: 5px;
}


